.login__form{
  margin-top: 5rem;
}
.login__form_data{
  background: #efefef;
  padding: 30px;
  border: 1px solid #d5d5d5;
}
.login__form_100{
  width: 100%;
}
.login__form_data {
	button{
		padding: 15px;
		margin-top: 10px;
		font-size: 1.3rem;
	}
	.icon__login{
		font-size: 30px;
		line-height: 20px;
	}
}

